/* XP desktop */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('./src/images/yoshi-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}

.desktop {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

#cvWindow {
    position: absolute;
    z-index: 9;
}

#cvTitleBar {
    cursor: move;
    z-index: 10;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}