/* XP desktop */
body {
    background-image: url('./src/images/yoshi-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}